<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Total Employee</h6>
        <h4 class="mb-3">
        
          <span class="badge bg-light-primary border border-primary"
            ><i class="ti ti-trending-up"></i>0</span
          >
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Total Attedance</h6>
        <h4 class="mb-3">
        0
          <span class="badge bg-light-success border border-success"
            ><i class="ti ti-trending-up"></i> 0</span
          >
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Pending Leave Approval</h6>
        <h4 class="mb-3">
         0
          <span class="badge bg-light-warning border border-warning"
            ><i class="ti ti-trending-down"> </i
            >0
          </span>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted text-center">Attendance</h6>
        <h4 class="mb-2 d-flex justify-content-around">
          <button class="btn btn-outline-secondary">12:00</button>
          <button class="btn btn-primary" >Check-In</button>
         
        </h4>
      </div>
    </div>
  </div>
 
</div>
